

.draggable {
  cursor: ew-resize;
  border-bottom: 1px dotted #000;
}

/**
* Rangeslider
*/
.rangeslider {
  margin: 20px 0;
  position: relative;
  background: #e6e6e6;
  width: 90%;
}
.rangeslider .rangeslider__fill,
.rangeslider .rangeslider__handle {
  position: absolute;
  width: 90%;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
}
.rangeslider .rangeslider__handle:active {
  background: #999;
}
/**
* Rangeslider - Horizontal slider
*/
.rangeslider-horizontal {
  height: 10px;
  border-radius: 5px;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background: #444;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: -5px;
}
/**
* Rangeslider - Vertical slider
*/
.rangeslider-vertical {
  margin: 20px auto;
  height: 150px;
  max-width: 10px;
  background: none;
}
.rangeslider-vertical .rangeslider__fill {
  width: 100%;
  background: #27ae60;
  box-shadow: none;
  bottom: 0;
}
.rangeslider-vertical .rangeslider__handle {
  width: 30px;
  height: 10px;
  left: -10px;
}
.rangeslider-vertical .rangeslider__handle:active {
  box-shadow: none;
}
